<header>
    <h1>Private Page</h1>
</header>
<main>
    <div><label>User Name: {{username}}</label></div>
    <div><label>First Name: {{firstName}}</label></div>
    <div><label>Last Name: {{lastName}}</label></div>
    <div><label>Profession: {{profession}}</label></div>
    <div><label>Bio: {{bio}}</label></div>
</main>